@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --font-family: "DM Sans", sans-serif;
  --second-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

/*#region global_fonts*/

h1 {
  font-family: var(--second-family);
  font-weight: 400;
}

h3 {
  font-family: var(--font-family);
  font-weight: 400;
}

p {
  font-family: var(--font-family);
  font-weight: 400;
}

nav {
  font-family: var(--font-family);
  font-weight: 400;
}

span {
  font-family: var(--font-family);
  font-weight: 400;
}

button {
  font-family: var(--font-family);
  font-weight: 400;
}

button:hover {
  cursor: pointer;
  transform: scale(1.02);
  filter: brightness(110%) contrast(103%);
}

.interactive:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(110%) contrast(103%);
}

/*#endregion*/

/*#region upper_header*/

upper_header {
  display: flex;
  width: 144rem;
  height: 4.8rem;
}

upper_header .inside {
  display: flex;
  position: relative;
  width: 136rem;
  margin-left: 4rem;
}

upper_header .inside p {
  width: 32.1rem;
  margin-left: 52rem;
  margin-top: 1.2rem;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4b5563;
}

upper_header .inside span {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 132.7rem;
  margin-top: 0.8rem;
  font-size: 3.2rem;
  line-height: 100%;
  color: #4b5563;
}

/*#endregion*/

/*#region header*/

header {
  width: 144rem;
  height: 7.2rem;
  background-color: #00353b;
}

header .inside {
  display: flex;
  width: 128rem;
  height: 7.2rem;
  margin-left: 8rem;
}

header .inside article {
  display: flex;
  position: relative;
  width: 38.3rem;
  height: 7.2rem;
  margin-left: 43.65rem;
}

header .inside article nav {
  height: 2.4rem;
  margin-left: 2.5rem;
  margin-top: 2.4rem;
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 150%;
  color: #fff;
}

header .inside .main_control {
  display: flex;
  position: absolute;
  gap: 2.5rem;
  width: 40.45rem;
  height: 5rem;
  margin-left: 87.55rem;
  margin-top: 1.1rem;
}

header .inside .main_control block {
  display: flex;
  height: 2.9rem;
  margin-top: 1rem;
}

header .inside .main_control block symb {
  display: flex;
  position: relative;
  width: 1.9rem;
  font-size: 1.9rem;
  line-height: 152%;
  color: #fff;
}

header .inside .main_control block span {
  display: flex;
  position: relative;
  margin-left: 0.8rem;
  margin-top: 0.24rem;
  font-size: 1.6rem;
  line-height: 150%;
  color: #fff;
}

header .inside .main_control button {
  width: 10.6rem;
  height: 5rem;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: #1f2937;
  background-color: #fff;
  border-color: #fff;
  border: none;
  border-radius: 0.8rem;
}

/*#endregion*/

/*#region block_1*/

main block_1 {
  display: grid;
  width: 144rem;
  height: 76.8rem;
  background-color: #00353b;
}

main block_1 .inside {
  display: flex;
  gap: 8rem;
  width: 128rem;
  height: 64rem;
  margin-left: 8rem;
  margin-top: 4.8rem;
}

main block_1 .inside img {
  width: 60rem;
  height: 64re;
  border-radius: 2.4rem;
}

main block_1 .inside svg {
  position: absolute;
  width: 20.9rem;
  height: 25rem;
  margin-left: 57.6rem;
  margin-top: 31.2rem;
}

main block_1 .inside .text_block {
  width: 60rem;
  height: 39.8rem;
  margin-top: 12.1rem;
}

main block_1 .inside .text_block h1 {
  margin-top: -0.6rem;
  font-size: 5.6rem;
  line-height: 120%;
  color: #fff;
}

main block_1 .inside .text_block p {
  width: 58.7rem;
  margin-top: 3rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: #fff;
}

main block_1 .inside .text_block .explore {
  display: flex;
  width: 60rem;
  height: 6.6rem;
  margin-top: 2.3rem;
}

main block_1 .inside .text_block .explore button {
  width: 17.2rem;
  height: 5rem;
  margin-top: 1.6rem;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: #fff;
  background-color: #22a45a;
  border: none;
  border-radius: 0.8rem;
}

main block_1 .inside .text_block .explore span {
  margin-left: 1.6rem;
  margin-top: 2.9rem;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: #fff;
}

main block_1 .inside .text_block .explore symb {
  margin-left: 0.4rem;
  margin-top: 2.3rem;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 150%;
  text-align: center;
  color: #fff;
}

main block_1 .inside .text_block .review {
  display: flex;
  width: 60rem;
  height: 4.8rem;
  margin-top: 4.8rem;
}

main block_1 .inside .text_block .review img {
  display: flex;
  width: 16rem;
  height: 4.8rem;
  border-radius: 0rem;
}

main block_1 .inside .text_block .review .block {
  width: 13.2rem;
  height: 4.8rem;
  margin-left: 1.6rem;
}

main block_1 .inside .text_block .review .block .stars {
  color: #e0b420;
}

main block_1 .inside .text_block .review .block .stars symb {
  width: 2.15rem;
  height: 3.6rem;
}

main block_1 .inside .text_block .review .block p {
  margin-top: -1.2rem;
  font-size: 1.6rem;
  line-height: 150%;
  color: #fff;
}

/*#endregion*/

/*#region block_2*/

main block_2 {
  display: grid;
  width: 144rem;
  height: 19.1rem;
  background-color: #00353b;
}

main block_2 p {
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
  color: #fff;
}

/*#endregion*/

/*#region block_3*/

main block_3 {
  display: inline-block;
  width: 144rem;
  height: 42.5rem;
  background-color: #00353b;
}

main block_3 .rect {
  position: absolute;
  width: 144rem;
  height: 21.3rem;
  margin-top: 21.3rem;
  background-color: #fff;
}

main block_3 .text_rect {
  display: flex;
  position: absolute;
  width: 128rem;
  height: 42.5rem;
  margin-left: 8rem;
  text-align: center;
  background-color: #fcd8ca;
  border-radius: 2.4rem;
}

main block_3 .text_rect .inside {
  width: 76.8rem;
  height: 29.7rem;
  margin-top: 6.4rem;
  margin-left: 25.6rem;
}

main block_3 .text_rect .inside h3 {
  display: flex;
  justify-content: space-evenly;
  width: 7.7rem;
  height: 2.9rem;
  padding-top: 0.35rem;
  font-size: 1.4rem;
  line-height: 150%;
  justify-self: center;
  color: #1f2937;
  background-color: #fff;
  border: none;
  border-radius: 0.4rem;
}

main block_3 .text_rect .inside h1 {
  margin-top: 1.1rem;
  font-size: 4.8rem;
  line-height: 120%;
  text-align: center;
  color: #1f2937;
}

main block_3 .text_rect .inside p {
  width: 73rem;
  height: 8.1rem;
  margin-top: 2.9rem;
  font-size: 1.8rem;
  line-height: 150%;
  justify-self: center;
  text-align: center;
  color: #374151;
}

main block_3 .text_rect .inside button {
  width: 11.7rem;
  height: 5rem;
  margin-top: 3.9rem;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: #fff;
  background-color: #1f2937;
  border: none;
  border-radius: 0.8rem;
}

/*#endregion*/

/*#region block_4*/

main block_4 {
  display: flex;
  width: 144rem;
  height: 88rem;
}

main block_4 .inside {
  display: flex;
  width: 128rem;
  height: 59.2rem;
  margin-left: 8rem;
  margin-top: 16rem;
}

main block_4 .inside img {
  width: 57.6rem;
  height: 59.2rem;
}

main block_4 .inside .text_block {
  width: 57.6rem;
  height: 30.9rem;
  margin-left: 12.8rem;
  margin-top: 13.45rem;
}

main block_4 .inside .text_block h1 {
  width: 57.6rem;
  height: 11.6rem;
  font-size: 4.8rem;
  line-height: 120%;
  color: #1f2937;
}

main block_4 .inside .text_block p {
  width: 57.6rem;
  margin-top: 2.8rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: #4b5563;
}

main block_4 .inside .text_block .buttons {
  display: flex;
  width: 57.6rem;
  height: 6.6rem;
  margin-top: 2.55rem;
}

main block_4 .inside .text_block .buttons button {
  width: 13.5rem;
  height: 5rem;
  margin-top: 1.2rem;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: #fff;
  background: #1f2937;
  border: none;
  border-radius: 0.8rem;
}

main block_4 .inside .text_block .buttons span {
  margin-left: 1.75rem;
  margin-top: 2.5rem;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: #111827;
}

main block_4 .inside .text_block .buttons symb {
  margin-top: 2.65rem;
  margin-left: 0.5rem;
}

/*#endregion*/

/*#region block_5*/

main block_5 {
  display: flex;
  width: 144rem;
  height: 72rem;
}

main block_5 .inside {
  display: flex;
  width: 128rem;
  height: 59.2rem;
  margin-left: 8rem;
}

main block_5 .inside .text_block {
  width: 57.6rem;
  height: 30.9rem;
  margin-top: 13.45rem;
}

main block_5 .inside .text_block h1 {
  width: 57.6rem;
  height: 11.6rem;
  font-size: 4.8rem;
  line-height: 120%;
  color: #1f2937;
}

main block_5 .inside .text_block p {
  width: 57.6rem;
  margin-top: 2.8rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: #4b5563;
}

main block_5 .inside .text_block .buttons {
  display: flex;
  width: 57.6rem;
  height: 6.6rem;
  margin-top: 2.55rem;
}

main block_5 .inside .text_block .buttons button {
  width: 13.5rem;
  height: 5rem;
  margin-top: 1.2rem;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: #fff;
  background: #1f2937;
  border: none;
  border-radius: 0.8rem;
}

main block_5 .inside .text_block .buttons span {
  margin-left: 1.75rem;
  margin-top: 2.5rem;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: #111827;
}

main block_5 .inside .text_block .buttons symb {
  margin-top: 2.65rem;
  margin-left: 0.5rem;
}

main block_5 .inside img {
  margin-left: 12.8rem;
  width: 57.6rem;
  height: 59.2rem;
}

/*#endregion*/

/*#region block_6*/

main block_6 {
  display: flex;
  width: 144rem;
  height: 87.2rem;
}

main block_6 .inside {
  width: 128rem;
  height: 74.4rem;
  margin-left: 8rem;
  text-align: center;
}

main block_6 .inside h3 {
  padding-top: 0.1rem;
  width: 7.6rem;
  height: 2.9rem;
  font-size: 1.4rem;
  line-height: 150%;
  text-align: center;
  justify-self: center;
  color: #1f2937;
  background-color: #fcd8ca;
  border: none;
  border-radius: 0.4rem;
}

main block_6 .inside h1 {
  margin-top: 0.8rem;
  font-size: 4.8rem;
  line-height: 120%;
  text-align: center;
  color: #1f2937;
}

main block_6 .inside p {
  width: 73rem;
  height: 5.4rem;
  margin-top: 2.9rem;
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
  justify-self: center;
  color: #4b5563;
}

main block_6 .inside .courses {
  display: flex;
  justify-content: space-between;
  width: 128ren;
  height: 50rem;
  margin-top: 6.4rem;
}

main block_6 .inside .courses .course {
  text-align: left;
  justify-content: left;
  justify-items: left;
  width: 40.5rem;
  height: 50rem;
  background-color: #00353b;
  border: none;
  border-radius: 1.6rem;
}

main block_6 .inside .courses .course .text_block {
  display: grid;
  margin-left: 2.4rem;
  margin-top: 3.2rem;
}

main block_6 .inside .courses .course .text_block h3 {
  padding-top: 0.35rem;
  justify-self: left;
  font-size: 1.4rem;
  line-height: 150%;
  color: #1f2937;
  background-color: #fff;
  border: none;
  border-radius: 0.4rem;
}

main block_6 .inside .courses .course .text_block h1 {
  margin-top: 1.6rem;
  text-align: left;
  font-size: 2.4rem;
  line-height: 140%;
  color: #fff;
}

main block_6 .inside .courses .course .text_block span {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: #fff;
}

main block_6 .inside .courses .course button {
  position: absolute;
  width: 14.2rem;
  height: 4.2rem;
  margin-left: 2.4rem;
  margin-top: 24rem;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: #fff;
  background-color: #22a45a;
  border: none;
  border-radius: 0.8rem;
}

main block_6 .inside .courses .course img {
  position: absolute;
  margin-left: 19.5rem;
  margin-top: 4.4rem;
  border: none;
  border-radius: 1.6rem;
}

/*#endregion*/

/*#region block_7*/

main block_7 {
  display: flex;
  width: 144rem;
  height: 102rem;
}

main block_7 .inside {
  width: 128rem;
  height: 102rem;
  margin-left: 8rem;
}

main block_7 .inside .rect {
  display: flex;
  width: 128rem;
  height: 53.9rem;
  background-color: #fcd8ca;
  border: none;
  border-radius: 2.4rem;
}

main block_7 .inside .rect .text_block {
  width: 64rem;
  height: 53.9rem;
}

main block_7 .inside .rect .text_block h3 {
  width: 6.3rem;
  height: 2.9rem;
  margin-left: 6.4rem;
  margin-top: 6.1rem;
  padding-top: 0.4rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 150%;
  color: #1f2937;
  background-color: #fff;
  border: none;
  border-radius: 0.4rem;
}

main block_7 .inside .rect .text_block h1 {
  width: 47.8rem;
  height: 17.3rem;
  margin-left: 6.4rem;
  margin-top: 1.1rem;
  font-size: 4.8rem;
  line-height: 120%;
  color: #1f2937;
}

main block_7 .inside .rect .text_block p {
  width: 48rem;
  height: 8.1rem;
  margin-left: 6.4rem;
  margin-top: 2.8rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: #374151;
}

main block_7 .inside .rect .text_block button {
  width: 13.5rem;
  height: 5rem;
  margin-left: 6.4rem;
  margin-top: 3.9rem;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: #fff;
  background-color: #1f2937;
  border: none;
  border-radius: 0.8rem;
}

main block_7 .inside .rect img {
  width: 64rem;
  height: 53.9rem;
}

main block_7 .inside .benefits_block {
  display: flex;
  justify-content: space-between;
  width: 128rem;
  height: 20.9rem;
  margin-top: 7.7rem;
}

main block_7 .inside .benefits_block .benefits_text_block {
  width: 39.4rem;
  height: 20.9rem;
}

main block_7 .inside .benefits_block .benefits_text_block symb {
  width: 4.8rem;
  height: 4.8rem;
  padding-top: 0.7rem;
  font-size: 3.5rem;
  line-height: 100%;
  text-align: center;
  color: #fff;
  background-color: #158e5e;
  border: none;
  border-radius: 6.4rem;
}

main block_7 .inside .benefits_block .benefits_text_block h1 {
  margin-top: 3.2rem;
  font-size: 2.4rem;
  line-height: 140%;
  color: #1f2937;
}

main block_7 .inside .benefits_block .benefits_text_block p {
  width: 37.86rem;
  height: 7.2rem;
  margin-top: 2.4rem;
  font-size: 1.6rem;
  line-height: 150%;
  color: #4b5563;
}

/*#endregion*/

/*#region block_8*/

main block_8 {
  width: 144rem;
  height: 104.7rem;
}

main block_8 .upper_text_block {
  width: 76.8rem;
  height: 23.7rem;
  margin-left: 33.6rem;
  margin-top: -0.3rem;
  text-align: center;
}

main block_8 .upper_text_block h3 {
  width: 7.1rem;
  height: 2.9rem;
  padding-top: 0.3rem;
  font-size: 1.4rem;
  line-height: 150%;
  text-align: center;
  justify-self: center;
  color: #1f2937;
  background-color: #fcd8ca;
  border: none;
  border-radius: 0.4rem;
}

main block_8 .upper_text_block h1 {
  width: 69.1rem;
  height: 11.6rem;
  margin-top: 1.1rem;
  font-size: 4.8rem;
  line-height: 120%;
  text-align: center;
  justify-self: center;
  color: #1f2937;
}

main block_8 .upper_text_block p {
  width: 73rem;
  height: 5.4rem;
  margin-top: 2.8rem;
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
  justify-self: center;
  color: #4b5563;
}

main block_8 .bottom_text_block {
  display: flex;
  justify-content: space-between;
  width: 127.2rem;
  height: 60rem;
  margin-left: 8.4rem;
  margin-top: 8rem;
}

main block_8 .bottom_text_block symb {
  width: 4.8rem;
  height: 4.8rem;
  padding-top: 0.7rem;
  font-size: 3.5rem;
  line-height: 100%;
  text-align: center;
  color: #fff;
  background-color: #158e5e;
  border: none;
  border-radius: 6.4rem;
}

main block_8 .bottom_text_block h1 {
  font-size: 2.4rem;
  line-height: 140%;
  text-align: center;
  color: #1f2937;
}

main block_8 .bottom_text_block p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  text-align: center;
  color: #4b5563;
}

main block_8 .bottom_text_block .left_benefits_block {
  width: 33.6rem;
  height: 48.3rem;
  margin-top: 5.85rem;
  text-align: center;
}

main block_8 .bottom_text_block .left_benefits_block .upprer_benefit {
  width: 24rem;
  height: 22.6rem;
  justify-self: center;
}

main block_8 .bottom_text_block .left_benefits_block .upprer_benefit h1 {
  margin-top: 2.4rem;
}

main block_8 .bottom_text_block .left_benefits_block .upprer_benefit p {
  margin-top: 1.5rem;
}

main block_8 .bottom_text_block .left_benefits_block .bottom_benefit {
  width: 24rem;
  height: 19.3rem;
  margin-top: 6.4rem;
  justify-self: center;
}

main block_8 .bottom_text_block .left_benefits_block .bottom_benefit h1 {
  margin-top: 2.3rem;
}

main block_8 .bottom_text_block .left_benefits_block .bottom_benefit p {
  margin-top: 1.7rem;
}

main block_8 .bottom_text_block .right_benefits_block {
  width: 33.6rem;
  height: 45rem;
  margin-top: 7.5rem;
  text-align: center;
}

main block_8 .bottom_text_block .right_benefits_block .upprer_benefit {
  width: 24rem;
  height: 19.3rem;
  justify-self: center;
}

main block_8 .bottom_text_block .right_benefits_block .upprer_benefit h1 {
  margin-top: 2.4rem;
}

main block_8 .bottom_text_block .right_benefits_block .upprer_benefit p {
  margin-top: 1.6rem;
}

main block_8 .bottom_text_block .right_benefits_block .bottom_benefit {
  width: 24rem;
  height: 19.3rem;
  margin-top: 6.4rem;
  justify-self: center;
}

main block_8 .bottom_text_block .right_benefits_block .bottom_benefit h1 {
  margin-top: 2.4rem;
}

main block_8 .bottom_text_block .right_benefits_block .bottom_benefit p {
  margin-top: 1.6rem;
}

main block_8 button {
  width: 13.5rem;
  height: 5rem;
  margin-left: 65.3rem;
  margin-top: 8rem;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  justify-self: center;
  align-self: center;
  color: #fff;
  background-color: #1f2937;
  border: none;
  border-radius: 0.8rem;
}

/*#endregion*/

/*#region block_9*/

main block_9 {
  display: flex;
  width: 144rem;
  height: 78rem;
}

main block_9 .bottom_rect {
  display: flex;
  position: absolute;
  width: 144rem;
  height: 39rem;
  margin-top: 51.89em;
  background: #00353b;
}

main block_9 .rect {
  display: flex;
  width: 128rem;
  height: 78rem;
  position: absolute;
  margin-left: 8rem;
  margin-top: 12.8rem;
  background-color: #fcd8ca;
  border: none;
  border-radius: 2.4rem;
}

main block_9 .rect .inside {
  width: 115.2rem;
  height: 78rem;
  margin-left: 6.4rem;
}

main block_9 .rect .inside .upper_block {
  width: 76.8rem;
  height: 18rem;
  margin-top: 9.8rem;
  justify-self: center;
  text-align: center;
}

main block_9 .rect .inside .upper_block h3 {
  width: 10.1rem;
  height: 2.9rem;
  padding-top: 0.3rem;
  justify-self: center;
  font-size: 1.4rem;
  line-height: 150%;
  text-align: center;
  color: #1f2937;
  background-color: #fff;
  border: none;
  border-radius: 0.4rem;
}

main block_9 .rect .inside .upper_block h1 {
  margin-top: 1.1rem;
  font-size: 4.8rem;
  line-height: 120%;
  text-align: center;
  color: #1f2937;
}

main block_9 .rect .inside .upper_block p {
  width: 73rem;
  margin-top: 2.9rem;
  margin-left: 2rem;
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
  color: #4b5563;
}

main block_9 .rect .inside .frame_of_bottom_block {
  width: 128rem;
  height: 32.8rem;
  margin-left: -6.4rem;
  margin-top: 7.8rem;
  overflow: hidden;
}

main block_9 .rect .inside .frame_of_bottom_block .bottom_block {
  display: flex;
  width: 216rem;
  height: 32.8rem;
  margin-left: -3.19rem;
}

main block_9 .rect .inside .frame_of_bottom_block .bottom_block .review_block {
  width: 40rem;
  height: 32.8rem;
  margin-left: 3.2rem;
  background-color: #fff;
  border: none;
  border-radius: 1.6rem;
}

main
  block_9
  .rect
  .inside
  .frame_of_bottom_block
  .bottom_block
  .review_block
  .text_block {
  width: 33.6rem;
  height: 16rem;
  margin-left: 3.201rem;
  margin-top: 3.4rem;
}

main
  block_9
  .rect
  .inside
  .frame_of_bottom_block
  .bottom_block
  .review_block
  .text_block
  svg {
  fill: #000;
  margin-left: 0.15rem;
}

main
  block_9
  .rect
  .inside
  .frame_of_bottom_block
  .bottom_block
  .review_block
  .text_block
  p {
  margin-top: 3.1rem;
  font-size: 1.7rem;
  line-height: 159%;
  color: #1f2937;
}

main
  block_9
  .rect
  .inside
  .frame_of_bottom_block
  .bottom_block
  .review_block
  .reviewer {
  display: flex;
  justify-content: space-between;
  width: 29.2rem;
  margin-left: 3.201rem;
  margin-top: 5.5rem;
}

main
  block_9
  .rect
  .inside
  .frame_of_bottom_block
  .bottom_block
  .review_block
  .reviewer
  img {
  width: 4.8rem;
  height: 4.8rem;
  vertical-align: middle;
}

main
  block_9
  .rect
  .inside
  .frame_of_bottom_block
  .bottom_block
  .review_block
  .text {
  width: 22.8rem;
}

main
  block_9
  .rect
  .inside
  .frame_of_bottom_block
  .bottom_block
  .review_block
  .text
  p {
  font-size: 1.6rem;
  line-height: 150%;
  color: #111827;
}

main
  block_9
  .rect
  .inside
  .frame_of_bottom_block
  .bottom_block
  .review_block
  .text
  h3 {
  font-size: 1.6rem;
  line-height: 150%;
  color: #6b7280;
}

/*#endregion*/

/*#region block_*/

main block_ {
}

/*#endregion*/
